<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema-parroquial</title>
    @Styles.Render("~/Content/styles/css/bootstrap.min.css")
    @Styles.Render("~/Content/styles/css/mdb.min.css")
    @Styles.Render("~/Content/styles/css/style.css")
    @Styles.Render("~/Content/styles/hck.css")
    @Styles.Render("~/Content/styles/js/popper.min.js")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Parroquial</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
