@model  WebApp.Models.ViewModels.BautizoViewMode 

@{
    ViewBag.Title = "ReporteBautizo";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Constancia Bautismo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background: white !important" >
    <div align="center">
        <div class="divTable" style="width: 100%;">
            <div class="divTableBody" align="center">
                <div class="divTableRow">
                    <div align="center" class="divTableCell"><h3 style="text-transform: uppercase; margin-bottom: -8px;"><img src="~/Content/public/header.JPG" style="height: 50%;width: 80%;" alt=""> <br></h3> </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div align="center" style="width: 80%">

            <div class="divTable" style="width: 100%;border: 1px solid #ffffff !important ;border-radius: 5px;">
                <div class="divTableBody">
                    <div class="divTableRow">
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; */text-transform: uppercase;font-size: 14px;/* border: 1px solid black; *//* border-radius: 5px; *//* text-align: -webkit-right; *//* text-rendering: initial; */text-align: left;width: 20%;">Nombres:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border: 1px solid black; *//* border-radius: 5px; */border-radius: 15px;">@Model.nombre_bautizado</div>

                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; */text-transform: uppercase;font-size: 14px;/* text-align: right; */text-align: left;">Hijo(a) de:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border-bottom: 2px solid #000000; */border-radius: 15px;">@Model.nombre_padre / @Model.nombre_madre ></div>

                    </div>
                    <div class="divTableRow">
                        <div style="/* font-family: Arial; */text-transform: uppercase;font-size: 14px;/* text-align: right; */text-align: left;" class="divTableCell2">Padrinos:</div>
                        <div class="divTableCell2" style="/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;">@Model.nombres_padrinos</div>
                    </div><div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; */text-transform: uppercase;font-size: 14px;/* text-align: right; */text-align: left;">FECHA DE NACIMIENTO:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border-bottom: 2px solid #000000; */border-radius: 15px;border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border: 1px solid black; *//* border-radius: 5px; */border-radius: 15px;line-height: unset;padding-top: 28px;padding-bottom: 0px;">@Model.fecha_nacimiento_bautizado</div>

                    </div>
                    <div class="divTableRow">
                        <div style="/* font-family: Arial; */text-transform: uppercase;font-size: 14px;/* text-align: right; */text-align: left;" class="divTableCell2">FECHA DE BAUTISMO:</div>
                        <div class="divTableCell2" style="/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border: 1px solid black; *//* border-radius: 5px; */border-radius: 15px;line-height: unset;padding-top: 28px;padding-bottom: 0px;">@Model.fecha_bautizo</div>
                    </div>


                    <div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; */text-transform: uppercase;font-size: 14px;/* text-align: right; */text-align: left;">Guatemala:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border-bottom: 2px solid #000000; */border-radius: 15px;">@DateTime.Now</div>
                    </div>
                </div>
            </div>
            <br>

            <!--<div class="divTable" style="/* width: 100%; *//* border: 1px solid #ffffff; *//* border-radius: 5px; */">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; *//* text-transform: uppercase; */font-size: 14px;/* border: 1px solid black; *//* border-radius: 5px; *//* text-align: left; *//* text-rendering: initial; */">Anotación marginal:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border: 1px solid black; *//* border-radius: 5px; */border-radius: 15px;"><b>Observaciones (Si hubiese).</b></div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; *//* text-transform: uppercase; */font-size: 14px;/* text-align: right; */">Guatemala:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;/* border-bottom: 2px solid #000000; */border-radius: 15px;"><b>11/02/2019</b></div>
                    </div>
                </div>
            </div>-->
            <div class="divTable" align="center">
                <div class="" align="center" style="width: 55%;">
                    <div class="divTableRow" align="center">
                        <div style="/* font-family: Arial; *//* text-transform: uppercase; */font-size: 14px;text-align: right;/* text-align: left; */width: 1%;" class="divTableCell2">f.</div>
                        <div class="divTableCell2" style="/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 14px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;/* text-align: left; */width: 100%;"></div>
                    </div>
                </div>
                <div class="" align="center">
                    <div class="divTableCell">&nbsp;Rev. Párroco.</div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>

    <style>
        .divTable {
            display: table;
            width: 100%;
        }

        .divTableRow {
            display: table-row;
        }

        .divTableHeading {
            background-color: #EEE !important;
            display: table-header-group;
        }

        .divTableCell, .divTableHead {
            /*border: 1px solid #f3f2f2;*/
            display: table-cell;
            padding: 10px 10px;
        }

        .divTableCell2, .divTableHead {
            /*border-bottom: 1px solid #4b4e49;*/
            display: table-cell;
            padding: 10px 10px;
            /*border-radius: 16px;*/
        }

        .divTableCell3, .divTableHead {
            border: 1px solid #4b4e49 !important;
            display: table-cell;
            padding: 10px 10px;
            border-radius: 12px;
        }

        .divTableHeading {
            background-color: #EEE !important;
            display: table-header-group;
            font-weight: bold !important;
        }

        .divTableFoot {
            background-color: #EEE !important;
            display: table-footer-group;
            font-weight: bold !important;
        }

        .divTableBody {
            display: table-row-group;
        }
    </style>


</body>
</html>