@model  List<WebApp.Models.ViewModels.ListMatrimonioViewModel>

@{
    ViewBag.Title = "Index";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light white lighten-3 sticky ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"> @ViewBag.Message <span class="sr-only">(current)</span></a>
            </div>
        </div>
        <form class="form-inline" action="#">
            <a href="/Matrimonio/BackPanel" class="btn btn-danger btn-sm my-0" type="submit">Regresar</a>
        </form>

    </nav>
</header>

<!--divider-->
<div style="height: 30px"></div>
<!--divider-->
<div class="container" style="background: white; top: 100px; width: 910px; border-radius: 10px;">
    <div class="container">
        <h2>Matrimonios</h2>
        <a href="/Matrimonio/NewBautizo" class="btn btn-success">Crear un nuevo registro</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre Esposos</th>
                <th scope="col">Padrinos</th>
                <th scope="col">Fecha Matrimonio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <th scope="row">@m.id_matrimonio</th>
                    <td>@m.nombre_esposo - @m.nombre_esposa</td>
                    <td>@m.nombre_padrinos</td>
                    <td>@m.fecha_matrimonio</td>
                    <td>
                        @{
                            string rol = Session["RolId"].ToString();
                            if (int.Parse(rol) == 1)
                            {
                                <a style="font-size: 8px; padding: 2px 8px; margin: 2px; width: -webkit-fill-available;" class="btn btn-info" href="~/Matrimonio/ReporteMatrimonio?id_matrimonio=@m.id_matrimonio">Reporte</a>
                            }
                        }
                        <a style="font-size: 8px; padding: 2px 8px; margin: 2px; width: -webkit-fill-available;" class="btn btn-danger" href="~/Matrimonio/DeleteMatrimonio?id_matrimonio=@m.id_matrimonio">Eliminar</a>
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>