@model  WebApp.Models.ViewModels.MatrimonioViewModel

@{
    ViewBag.Title = "ReporteMatrimonio";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Constancia Matrimonio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  style="background: white !important"  >
    <div align="center">
        <div class="divTable" style="width: 100%;">
            <div class="divTableBody" align="center">
                <div class="divTableRow">
                    <div align="center" class="divTableCell"><h3 style="text-transform: uppercase; margin-bottom: -8px;"><img src="~/Content/public/headerMatrimonio.JPG" style="height: 50%;width: 80%;" alt=""> <br></h3> </div>
                </div>
            </div>
        </div>
        <div align="center" style="width: 85%;">
            <br>
            <div class="divTable" style="width: 100%;border: 1px solid #ffffff;/* border-radius: 5px; */">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase; font-size: 11px; text-align: -webkit-center;">El Infrascrito de esta parroquia, certifica que en el libro de Matrimonio:</div>
                    </div>
                </div>
            </div>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div style="/* font-family: Arial; */text-transform: uppercase;font-size: 13px;/* text-align: right; *//* text-align: left; */" class="divTableCell2">&nbsp;Libro: </div>
                        <div class="divTableCell2" style="/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;/* text-align: left; */width: 15%;">1</div>
                        <div style="/* font-family: Arial; */text-transform: uppercase;font-size: 13px;/* text-align: right; *//* text-align: left; */" class="divTableCell2">&nbsp;Folio:</div>
                        <div class="divTableCell2" style="/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;width: 15%;">1</div>
                        <div style="/* font-family: Arial; */text-transform: uppercase;font-size: 13px;/* text-align: right; *//* text-align: left; */" class="divTableCell2">&nbsp;Partida:</div>
                        <div class="divTableCell2" style="/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;width: 15%;">1</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="divTable">
                <div class="divTableBody" style="">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase; font-size: 11px; text-align: center;">Que literalmente dice: En la Iglesia de El Santuario Nacional Expiatorio del Sagrado Corazón de Jesús en la fecha:</div>
                    </div>
                    <div class="divTableRow" style="/* width: 15%; */">
                        <div class="divTableCell" style="font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;/* width: 15%; */">Ciudad de Guatemala @DateTime.Now</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase;font-size: 11px;text-align: center;padding-top: 0px;padding-bottom: 0px;">&nbsp;Previos trámites de derecho y con aprobación de esta parroquia,</div>
                    </div>
                </div>
            </div>
            <div class="divTable">
                <div class="divTableBody" style="">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase;font-size: 11px;text-align: center;padding-top: 0px;">Se autorizó el Matrimonio que IN FACIE ECCLESIAE En la presencia de los padrinos:</div>
                    </div>
                    <div class="divTableRow" style="/* width: 15%; */">
                        <div class="divTableCell" style="font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;/* width: 15%; */">@Model.nombre_padrinos</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase;font-size: 11px;">Contrajo Don</div>
                        <div class="divTableCell" style="font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;width: 55%;">@Model.nombre_esposo</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase; font-size: 11px;">&nbsp;Originario de</div>
                        <div class="divTableCell" style="font-family: Arial; font-size: 13px; border-bottom: 1px solid #d0cfcf; border-radius: 15px; width: 40%;">Ciudad de guatemala</div>
                        <div class="divTableCell" style="text-transform: uppercase; font-size: 11px;">&nbsp;Feligrés de</div>
                        <div class="divTableCell" style="font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;width: 30%;">Parroquia Sagrado corazon.</div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase;font-size: 11px;width: 17%;">Con</div>
                        <div class="divTableCell" style="font-family: Arial; font-size: 13px; border-bottom: 1px solid #d0cfcf; border-radius: 15px; width: 55%;">@Model.nombre_esposa</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="text-transform: uppercase; font-size: 11px;">&nbsp;Originaria de</div>
                        <div class="divTableCell" style="font-family: Arial; font-size: 13px; border-bottom: 1px solid #d0cfcf; border-radius: 15px; width: 40%;">Los Ángeles, California, Estados Unidos</div>
                        <div class="divTableCell" style="text-transform: uppercase; font-size: 11px;">&nbsp;Feligrés de</div>
                        <div class="divTableCell" style="font-family: Arial; font-size: 13px; border-bottom: 1px solid #d0cfcf; border-radius: 15px; width: 30%;">La Parish</div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="font-size: 11px;text-align: center;padding-top: 0px;">&nbsp;Para los usos que a los interesados convengan, se les extiende la presente CERTIFICACIÓN.</div>
                    </div>
                </div>
            </div>
            <div class="divTable" style="width: 45%;">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="font-size: 11px; text-align: -webkit-right;">&nbsp;En la Ciudad de Guatemala el:&nbsp;&nbsp;</div>
                        <div class="divTableCell" style=" font-size: 13px; border-bottom: 1px solid #d0cfcf; border-radius: 15px; width: 30%; font-family: Arial; padding: 6px 11px;">@DateTime.Now</div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>

            <!--<div class="divTable" style="/* width: 100%; *//* border: 1px solid #ffffff; *//* border-radius: 5px; */">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; *//* text-transform: uppercase; */font-size: 13px;/* border: 1px solid black; *//* border-radius: 5px; *//* text-align: left; *//* text-rendering: initial; */">Anotación marginal:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 13px;/* border: 1px solid black; *//* border-radius: 5px; */border-radius: 15px;"><b>Observaciones (Si hubiese).</b></div>
                    </div>
                    <div class="divTableRow">
                        <div class="divTableCell2" style="/* border-bottom: 1px solid #d0cfcf; *//* font-family: Arial; *//* text-transform: uppercase; */font-size: 13px;/* text-align: right; */">Guatemala:</div>
                        <div class="divTableCell2" style="border-bottom: 1px solid #d0cfcf;/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 13px;/* border-bottom: 2px solid #000000; */border-radius: 15px;">11/02/2019</div>
                    </div>
                </div>
            </div>-->
            <div class="divTable" align="center">
                <div class="" align="center" style="width: 55%;">
                    <div class="divTableRow" align="center">
                        <div style="/* font-family: Arial; *//* text-transform: uppercase; */font-size: 13px;text-align: right;/* text-align: left; */width: 1%;" class="divTableCell2">f.</div>
                        <div class="divTableCell2" style="/* border-left: 1px solid #d0cfcf; */font-family: Arial;font-size: 13px;border-bottom: 1px solid #d0cfcf;border-radius: 15px;/* text-align: left; */width: 100%;"></div>
                    </div>
                </div>
                <div class="" align="center">
                    <div class="divTableCell">&nbsp;Rev. Párroco.</div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <style>
        .divTable {
            display: table;
            width: 100%;
        }

        .divTableRow {
            display: table-row;
        }

        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
        }

        .divTableCell, .divTableHead {
            /*border: 1px solid #f3f2f2;*/
            display: table-cell;
            padding: 6px 0px;
        }

        .divTableCell2, .divTableHead {
            /*border-bottom: 1px solid #4b4e49;*/
            display: table-cell;
            padding: 6px 0px;
            /*border-radius: 16px;*/
        }

        .divTableCell3, .divTableHead {
            border: 1px solid #4b4e49;
            display: table-cell;
            padding: 6px 0px;
            border-radius: 11px;
        }

        .divTableHeading {
            background-color: #EEE;
            display: table-header-group;
            font-weight: bold;
        }

        .divTableFoot {
            background-color: #EEE;
            display: table-footer-group;
            font-weight: bold;
        }

        .divTableBody {
            display: table-row-group;
        }
    </style>


</body>
</html>