@model  WebApp.Models.ViewModels.UserViewModel 
@{
    ViewBag.Title = "EditUser";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-light white lighten-3 sticky ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"> @ViewBag.Message <span class="sr-only">(current)</span></a>
            </div>
        </div>
        <form class="form-inline" action="#">
            <a href="/User/Index" class="btn btn-danger btn-sm my-0" type="submit">Regresar</a>
        </form>

    </nav>
</header>

<!--divider-->
<div style="height: 30px"></div>
<!--divider-->
<div class="container" style="background: white; top: 100px; height: 600px; width: 910px; border-radius: 10px;">
    <form action="/User/SaveUser" method="post">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            @{
                <input type="text" name="name" value="@Model.nombre" class="form-control">
            }
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            @{
                <input type="text" name="name" value="@Model.apellido" class="form-control">
            }
        </div>
        <div class="mb-3">
            <label class="form-label">Usuario</label>
            @{
                <input type="text" name="username" value="@Model.username"  class="form-control">
            }
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            @{
                <input type="password" name="password" value="@Model.password" class="form-control">
            }
        </div>
        <div class="mb-3">
            <label class="control-label">Rol</label>
                <select class="form-control" name="rol">
                    <option>...</option>
                    <option @{ if (Model.id_rol == 1) { @Html.Raw("selected") } } value="1">admin</option>
                    <option @{ if (Model.id_rol == 2) { @Html.Raw("selected") } }  value="2">digitador</option>
                </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
    </form>
</div>
